<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{visitor/fragments/layout}" lang="en">
<head>
    <title th:text="category.name"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl" th:text="${category.name}"></h2>
                <p class="mt-2 text-lg leading-8 text-gray-600">Read our all informative article</p>
            </div>
            <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <div th:if="${category.posts.isEmpty()}" class="col-span-3">
                    <img class="mx-auto h-64 mt-10" alt="Empty" th:src="@{/assets/img/empty.svg}"/>
                </div>
                <article th:else th:each="post : ${category.posts}" class="flex max-w-xl flex-col items-start justify-between">
                    <div class="flex items-center gap-x-4 text-xs">
                        <time th:datetime="${post.date}" class="text-gray-500" th:text="${post.date}"></time>
                        <a th:href="@{'/category/' + ${post.category.id}}" th:text="${post.category.name}"
                           class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"></a>
                    </div>
                    <div class="group relative">
                        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                            <a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a>
                        </h3>
                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600" th:text="${post.content}"></p>
                    </div>
                    <div class="relative mt-8 flex items-center gap-x-4">
                        <img th:src="${post.user.imageUrl != null ? post.user.imageUrl : 'https://api.dicebear.com/8.x/thumbs/svg?seed=' + post.user.name}"
                             alt="" class="h-10 w-10 rounded-full bg-gray-50">
                        <div class="text-sm leading-6">
                            <p th:text="${post.user.name}" class="font-semibold text-gray-900"></p>
                            <p class="text-gray-600">Author</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
</body>

</html>