<div class="flex justify-between mb-8 gap-4">
    <div><h1 class="font-medium">See Post</h1>
        <p class="text-slate-600 text-sm mt-2">
            A post based on chosen comment
        </p>
    </div>
</div>
<div class="border shadow-sm rounded-md">
    <table class="table-auto w-full text-sm">
        <thead class="border-b border-slate-300 bg-slate-50">
        <tr>
            <th class="font-medium text-left py-4 px-6">Title</th>
            <th class="font-medium text-left py-4 px-6">Author</th>
            <th class="font-medium text-left py-4 px-6">Category</th>
            <th class="font-medium text-left py-4 px-6">Date</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${post}" class="border-b">
            <td th:text="${post.title}" class="py-4 px-6"></td>
            <td th:text="${post.user.name}" class="py-4 px-6"></td>
            <td th:text="${post.category.name}" class="py-4 px-6"></td>
            <td th:text="${post.date}" class="py-4 px-6"></td>
        </tr>
        </tbody>
    </table>
</div>