<header class="flex justify-between items-center w-full border-b shadow-sm h-16 px-4 lg:px-10 divide-x gap-6">
    <button id="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
        </svg>
    </button>
    <div class="flex justify-end items-center">
        <div></div>
        <div class="relative">
            <button id="popup-trigger" class="flex items-center gap-4 pl-6 outline-none" aria-expanded="false">
                <img class="h-8 w-8 rounded-full" th:src="${#authentication.getPrincipal().imageUrl != null ? #authentication.getPrincipal().imageUrl : 'https://api.dicebear.com/8.x/thumbs/svg?seed=' + auth.name}" alt="Admin">
                <span class="font-medium text-sm" th:text="${#authentication.getPrincipal().name}"></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     aria-hidden="true" data-slot="icon" class="h-4 w-4 text-slate-400 stroke-2">
                    <path fill-rule="evenodd"
                          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
            <div id="popup-content" class="popup-content hidden absolute right-0 mt-2 w-30 bg-white border border-gray-200 rounded shadow-md z-10">
                <a th:href="@{/admin/profile}" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Your Profile</a>
                <form th:action="@{/logout}" method="POST" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">
                    <button type="submit" class="outline-none">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>