<header class="flex justify-between items-center w-full border-b shadow-sm h-16 px-4 lg:px-10 divide-x gap-6">
    <button id="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6 text-black">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
        </svg>
    </button>
    <div class="flex justify-end items-center">
        <div></div>
        <div class="relative" data-headlessui-state="">
            <button class="flex items-center gap-4 pl-6 outline-none" id="headlessui-popover-button-26"
                    type="button" aria-expanded="false" data-headlessui-state=""><img
                    class="h-8 w-8 rounded-full" src="https://i.pravatar.cc/300" alt="Admin"><span
                    class="font-medium text-sm">Admin</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     aria-hidden="true" data-slot="icon" class="h-4 w-4 text-slate-400 stroke-2">
                    <path fill-rule="evenodd"
                          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
</header>